In [45]:
list(range(1,1))

[]

In [46]:
num=1.23456
round(num, 2)

1.23

In [47]:
[i for i in range(2, 41,2)] #list comprehension

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [48]:
[round(x**0.5, 2) for x in range (13,13*10+1,13)]

[3.61, 5.1, 6.24, 7.21, 8.06, 8.83, 9.54, 10.2, 10.82, 11.4]

In [49]:
import random
for idx, ch in enumerate([random.randint(1, 100) for _ in range(10)]):
    print(idx, ': ',ch)

0 :  35
1 :  66
2 :  29
3 :  44
4 :  20
5 :  97
6 :  99
7 :  39
8 :  57
9 :  57

In [50]:
t = (1, 2, 3) #tuple
type(t)

tuple

In [51]:
t[:2]

(1, 2)

In [52]:
sq_list = [x**2 for x in range(1, 11)]
sq_set = set(sq_list)
sq_set

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [53]:
st1 = {1, 2, 3}
st2 = {2,3,5, 6}

print(type(st1),type(st2))

st3 =st1 | st2  # union of sets
print(f'Union of {st1} and {st2} = {st3}')

<class 'set'> <class 'set'>
Union of {1, 2, 3} and {2, 3, 5, 6} = {1, 2, 3, 5, 6}

In [54]:
st4 = st1 & st2 #intersection
print(f'Intersection of {st1} and {st2} = {st4}')

Intersection of {1, 2, 3} and {2, 3, 5, 6} = {2, 3}

In [55]:
3 in st4 #membership

True

In [56]:
st5=st1-st2 #set difference
print(f'Diiference of {st1} and {st2} = {st5}')

Diiference of {1, 2, 3} and {2, 3, 5, 6} = {1}

In [57]:
st6=st1^st2 #symmetric difference
print(f'Symmetric difference between {st1} and {st2} = {st6}')

Symmetric difference between {1, 2, 3} and {2, 3, 5, 6} = {1, 5, 6}

In [58]:
{1,2} < {1,2,3,4} #proper subset

True

In [59]:
{1,2,3} <= {1,2,3} #subset

True

In [60]:
str1 = 'national anthem'
set(str1) #stores only unique elements(isogram)

{' ', 'a', 'e', 'h', 'i', 'l', 'm', 'n', 'o', 't'}

In [61]:
def isIsogram(str1):
    return len(str1) == len(set(str1))

print(isIsogram('abcda'))
print(isIsogram('xyz'))

False
True

In [62]:
dict1={1:1, 2:4, 3:9, 4:16, 5:25} #dictionary
type(dict1)

dict

In [63]:
dict1[1]

1

In [64]:
student_dict={
    '101':['Abhishek', 8.04, 'IT'],
    '102':['Aditya',9.0,'CSE'],
    '103':['Ashwin',8.5,'ECE'],
    '104':['Harikiran',9.5,'EEE']
}

student_dict

{'101': ['Abhishek', 8.04, 'IT'],
 '102': ['Aditya', 9.0, 'CSE'],
 '103': ['Ashwin', 8.5, 'ECE'],
 '104': ['Harikiran', 9.5, 'EEE']}

In [65]:
student_dict.update({'105':['Ayush',10,'ISE']})
student_dict

{'101': ['Abhishek', 8.04, 'IT'],
 '102': ['Aditya', 9.0, 'CSE'],
 '103': ['Ashwin', 8.5, 'ECE'],
 '104': ['Harikiran', 9.5, 'EEE'],
 '105': ['Ayush', 10, 'ISE']}

In [66]:
l1 = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
l2 = [1, 2, 3, 4, 5, 6, 7]
for z in zip(l1, l2):
    print(z)

('one', 1)
('two', 2)
('three', 3)
('four', 4)
('five', 5)
('six', 6)
('seven', 7)

In [67]:
dict2 = dict(zip(l1,l2))
dict2

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7}

In [68]:
for key, value in dict(zip(l1, l2)).items():
    print(key, '->',value)

one -> 1
two -> 2
three -> 3
four -> 4
five -> 5
six -> 6
seven -> 7

In [69]:
def custom_square_fn(n):
    return n**2


fn_dict={0:custom_square_fn}
fn_dict[0](12)

144

In [70]:
ord_dict = {}
name = 'abhishek'
for ch in name:
    ord_dict[ch] = ord(ch)

ord_dict

{'a': 97, 'b': 98, 'h': 104, 'i': 105, 's': 115, 'e': 101, 'k': 107}

In [71]:
chr_dict = {}
for ch in name:
    chr_dict[ord(ch)] = ch

chr_dict

{97: 'a', 98: 'b', 104: 'h', 105: 'i', 115: 's', 101: 'e', 107: 'k'}

In [72]:
ord_list = [ord(l) for l in name]
ord_dict = dict(zip(ord_list, name))
ord_dict

{97: 'a', 98: 'b', 104: 'h', 105: 'i', 115: 's', 101: 'e', 107: 'k'}

In [73]:
chr_dict = {}
ord_list = [ord(l) for l in name]
chr_dict = dict(zip(ord_list, name))
chr_dict

{97: 'a', 98: 'b', 104: 'h', 105: 'i', 115: 's', 101: 'e', 107: 'k'}

In [ ]:
l1 = ['one', 'two', 'three'] # three  items
l2 = [1, 2] # two items
for z in zip(l1, l2):
    print(z)

('one', 1)
('two', 2)

In [ ]:
set1={1,2,3} #set
dict1={1:1,2:2,3:3} #dict
dt={} #This is a dict NOT a set

print(f'Type of set1: {type(set1)}')
print(f'Type of dict1: {type(dict1)}')
print(f'Type of dt: {type(dt)}')

Type of set1: <class 'set'>
Type of dict1: <class 'dict'>
Type of dt: <class 'dict'>